<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net46" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net462" />
  <package id="Nancy.Rest.Annotations" version="1.4.3.7-beta" targetFramework="net462" />
  <package id="Nancy.Rest.Client" version="1.4.3.9-beta" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
</packages>