<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImpromptuInterface" version="7.0.1" targetFramework="net462" />
  <package id="Nancy.Rest.Annotations" version="1.4.4" targetFramework="net462" />
  <package id="Nancy.Rest.Client" version="1.4.4" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net462" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>