<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="httpLargeMessageStream_IJMMServerImage" messageEncoding="Mtom"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="BinaryBinding_IJMMServer">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8111/JMMServerBinary" binding="customBinding" bindingConfiguration="BinaryBinding_IJMMServer" contract="JMMServerBinary.IJMMServer" name="BinaryBinding_IJMMServer"/>
            <endpoint address="http://localhost:8111/JMMServerImage" binding="basicHttpBinding" bindingConfiguration="httpLargeMessageStream_IJMMServerImage" contract="JMMImageServer.IJMMServerImage" name="httpLargeMessageStream_IJMMServerImage"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
